.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  margin: auto;
}
.post-box {
  border: 1.5px solid cornflowerblue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 200px;
  height: 200px;
  background: white;
  font-family: Arial, sans-serif;
  justify-content: center;
  text-align: center;
}
.post-box:hover {
  cursor: pointer;
}

.content {
  white-space: normal;
  overflow-wrap: break-word;
}
