#overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.5);
  z-index: 12;
}

#container {
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 400px;
  box-shadow: 5px 5px 4px rgb(19, 19, 19, 0.2);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 13;
}

#header {
  border-bottom: 1px solid #ccc;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

#form-content {
  flex-grow: 1;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;

  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 20px;
  }
}

#error-wrapper {
  padding-left: 30px;
  height: 16px;
  color: red;
  font-size: 16px;
}

#actions {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  gap: 20px;
  padding-right: 20px;

  button {
    height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: cornflowerblue;
    border-radius: 5px;

    &.cancel {
      background-color: #fff;
      border: 1px solid cornflowerblue;
      color: cornflowerblue
    }

    &.delete {
      background-color: #fff;
      border: 1px solid red;
      color: red
    }
  }
}
