<div class="app-container">
  <app-create-post-popup
    *ngIf="isCreateDialogVisible"
    (postCreatedEvent)="handlePostCreated()"
    (createPopupCancelledEvent)="closeCreatePostDialog()"
  ></app-create-post-popup>
  <app-edit-post-popup
    *ngIf="isEditDialogVisible"
    [post]="editedPost"
    (editPopupCancelledEvent)="closeEditPostDialog()"
    (postDeletedEvent)="handlePostModified()"
    (postUpdatedEvent)="handlePostModified()"
  ></app-edit-post-popup>
  <app-notes
    [posts]="posts"
    (createPostDialogOpenedEvent)="showCreatePostDialog()"
    (editPostDialogOpenedEvent)="showEditPostDialog($event)"
  ></app-notes>
</div>
